
html, body, #map-canvas {
  height:100%;
  width:100%;
}


#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 2px solid #000;
}
#legend h3 {
  margin-top: 0;
}
#legend img {
  vertical-align: middle;
  width:20px;
  height:20px;
}
